<header>
    <nav>
        <a href="/">Libreria</a>
        <ul>
            <li><a href="/autores">Autores</a></li>
            <li><a href="/autores/nuevo">Agregar Autores</a></li>
            <li><a href="/libros">Libros</a></li>
            <li><a href="/libros/nuevo">Agregar Libros</a></li>
        </ul>
    </nav>
</header>