<h2>Nuevo Libro</h2>
<form action="/libros" method="POST" enctype="multipart/form-data">
 <%- include('_form_fields') %>
  <a href="/libros">Cancelar</a>
  <button type="submit">Crear</button>  

</form>